<section class="block">
        <div class="container">
          <div class="title-group line-default">
            <h1 class="selected">Udpate Company</h1>
          </div>
          <div class="row">
              <div class="col-md-3 ">
                  <div class="list-2"><!-- Product-item -->
                    <a routerLink="/Company/CompanyHome" class="thumb-item">
                        <i class="far fa-building"></i>
                        <h4 class="heading">Company Home<br></h4>
                      </a>
                    <!-- <a routerLink="/Company/UpdateCompany" class="thumb-item">
                      <i class="fas fa-file-alt"></i>
                      <h4 class="heading">Company profile<br></h4>
                    </a> -->
                    <a routerLink="/Company/ListJob" class="thumb-item">
                      <i class="far fa-sticky-note"></i>
                      <h4 class="heading">Manage jobs<br></h4>
                    </a>
                    <a class="thumb-item selected">
                      <i class="fas fa-cloud-upload-alt mr"></i>
                      <h4 class="heading">Post job<br></h4>
                    </a>
                  </div>
                </div>
            <div class="col-sm-9">
              <div class="box p-40">
                <h4 class="heading line-default line-default-left m-b-40 p-t-0 f-30 f-weight-500">{{Company?.nameCompany}}<br></h4>
              </div>
            </div>
          </div>
        </div>
      </section>